# =============================================================================
# Cert-Manager Kustomization
# =============================================================================
# Agrège tous les fichiers pour déployer cert-manager
# =============================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml

